.footer-section {
  background: var(--secondary-text);
}

.footer-section .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  margin-bottom: 26px;
}

.footer-section .copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.footer-section .social-icon {
  cursor: pointer;
}