header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--secondary-text);
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

header .header-nav {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-logo {
  color: var(--color-text-title-card);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}

.header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

header .header-menu {
  display: flex;
  gap: 20px;
}

header .header-link {
  color: var(--color-text-title-card);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  transition: 0.3s;
  text-transform: capitalize;
  position: relative;
}

header .header-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

header .header-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header .header-item.is-active .header-link {
  color: #4f46e5;
}

[data-theme="dark"] header .header-item.is-active .header-link {
  color: #818cf8;
}

header .header-link.is-active {
  font-weight: 700;
}

@media (max-width: 480px) {
  header .header-link {
    font-size: 20px;
  }

  header .header-link:hover {
    text-decoration: none;
  }
}

@media (max-width: 393px) {
  .header-content {
    gap: 20px;
  }
}