header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

html[data-theme="dark"] header {
  background: #181A2A;
}

header .header-nav {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header .header-logo {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 700;
}

.header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}





header .header-menu {
  display: flex;
  gap: 20px;
}

header .header-item.is-active .header-link {
  color: #000000;
}

html[data-theme="dark"] header .header-item.is-active .header-link {
  color: #FFFFFF;
}

header .header-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
}

header .header-link:hover {
  text-decoration: underline;
}

header .header-link.is-active {
  font-weight: 700;
}

@media (max-width: 480px) {
  header .header-link {
    font-size: 20px;
  }

  header .header-link:hover {
    text-decoration: none;
  }
}

@media (max-width: 393px) {
  .header-content {
    gap: 20px;
  }
}