.theme-toggle-slider {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-strip {
  display: flex;
  width: 96px;
  transition: transform 0.4s ease-in-out;
}

.icon-strip.light {
  transform: translateX(0);
}

.icon-strip.dark {
  transform: translateX(-48px);
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun {
  background-color: rgba(35, 39, 47, .05);
  border-radius: 50%;
}

.sun>svg {
  color: var(--primary-text);
}

.moon {
  background-color: rgba(246, 247, 249, .05);
  border-radius: 50%;
}