.blog-detail-page .detail-page {
  padding-top: 120px;
}

.blog-detail-page h1 {
  font-size: 48px;
  /* line-height: 1; */
}

.blog-detail-page h2,
.blog-detail-page h3,
.blog-detail-page h4,
.blog-detail-page h5,
.blog-detail-page h6 {
  margin-top: 35px;
  margin-bottom: 5px;
  color: #3087ee;
  font-weight: 800;
  line-height: 1.26;
}

.blog-detail-page p {
  margin-bottom: 20px;
  text-align: justify;
  overflow-wrap: break-word;
}

.blog-detail-page h2 {
  font-size: 28px;
}

.blog-detail-page h3 {
  font-size: 22px;
}

.blog-detail-page h4 {
  font-size: 20px;
}

.blog-detail-page h5 {
  font-size: 18px;
}

.blog-detail-page h6 {
  font-size: 16px;
}

.blog-detail-page figcaption {
  width: 100%;
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-align: center
}

.blog-detail-page .wp-block-image {
  max-width: 100%;
  height: auto;
}

.blog-detail-page .wp-block-image>img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.blog-detail-page ul li {
  list-style: disc
}

.blog-detail-page figcaption {
  width: 100%;
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-align: center
}

.blog-detail-page .date-author {
  margin: 8px 0;
}

.blog-detail-page .author {
  margin-left: 16px;
}

.blog-detail-page .category {
  margin: 8px 0;
  display: flex;
  gap: 16px;
}

.blog-detail-page .blog-detail-content {
  padding-top: 40px;
}

.detail-meta {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.blog-detail-page .card-time {
  display: flex;
  align-items: center;
}

.blog-detail-page .card-icon-time {
  margin-top: -2px;
  width: 14px;
}

.blog-detail-page .card-text-time {
  margin-left: 8px;
}

.blog-detail-page .card-author {
  margin-left: 24px;
}

.blog-detail-page .card-icon-author {
  width: 14px;
}

.blog-detail-page .card-text-author {
  margin-left: 8px;
}

.blog-detail-page .card-category-label {
  padding: 6px 14px;
  border-radius: 16px;
  background-color: #F2F2F2;
}


/* start skeleton */
.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-detail-page .skeleton-image {
  width: 100%;
  height: 50vh;
  background: #e0e0e0;
  border-radius: 8px;
  animation: shimmer 1.5s infinite linear;
}

.skeleton-image {
  max-width: 100%;
}

.skeleton-text {
  width: 100%;
  height: 20px;
  background: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite linear;
}

.skeleton-text.short {
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

.skeleton-image,
.skeleton-text {
  background: linear-gradient(90deg,
      #e0e0e0 25%,
      #f5f5f5 50%,
      #e0e0e0 75%);
  background-size: 200% 100%;
}

.skeleton-date-author {
  width: 30%;
}

.skeleton-category {
  width: 60%;
}

.skeleton-detail-content {
  padding-top: 50px;
  margin-bottom: 20px;
}

/* end skeleton */