@import "tailwindcss";

:root {
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Lora', serif;
  --font-ui: 'Inter', sans-serif;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 700;
}

p,
article {
  font-family: var(--font-body);
  font-size: 1.1rem;
  line-height: 1.75;
}

nav,
button,
small {
  font-family: var(--font-ui);
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

span,
time {
  font-family: var(--font-ui);
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}


nextjs-portal {
  display: none !important;
}